.container {
  height: calc(100vh - 100px);
  background-color: #222;
  display: flex;
}

.item {
  position: relative;
  flex: 1;
  display: flex;
}

.item:last-child {
  padding:50px;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 18px;
  color: #fcaa54;
}

.text {
  color: lightgray;
}

.motto {
  color: rgb(211, 211, 211);
}

@media screen and (max-width: 768px) {
  .container {
    height: auto;
    text-align: center;
  }
  .item:first-child {
    display: none;
  }

  .title {
    font-size: 30px;
  }

  .text {
    font-size: 20px;
  }
}
